@page "/product/{name}"
@model Blazor_routing_custom.Pages.ProductDetails.IndexModel

@{
    Layout = null;
    ViewData["Title"] = "ProductDetails";
}

<!DOCTYPE html>

<html>
<head>
    <title>AA</title>
</head>
<body>
<div>
    <h1>@Model.Selected.Name</h1>
    <dl>
        <dt>Price</dt>
        <dd>$@Model.Selected.Price</dd>
    </dl>
</div>
</body>
</html>